@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "AdminCharts";
}


<!-- Chart Start -->
<!-- Sign Up Start -->
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-9">
            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="col table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0 ">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col-1"><input class="form-check-input" type="checkbox"></th>
                                    <th scope="col-6">Hotel Name</th>
                                    <th scope="col-4">Profit</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class="form-check-input" type="checkbox"></td>
                                    <td>01 Jan 2045</td>
                                    <td>INV-0123</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Chart End -->

</div>
<!-- Content End -->
<!-- Template Javascript -->
<script src="/js/AdminMain.js"></script>


