
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">Relaxing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="~/Home/Home" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="~/Hotel/Index" class="nav-link">Hotels</a></li>
                @if(User.IsInRole("Admin"))
                {
                    <li class="nav-item"><a href="~/Admin/AdminNotifications" class="nav-link">Admin DashBoard</a></li>
                }
                @if (User.IsInRole("HotelManger"))
                {
                    <li class="nav-item"><a href="~/HotelManger/HotelRooms" class="nav-link">Manger DashBoard</a></li>
                }
             @*   <li class="nav-item"><a href="~/Restaurant/Index" class="nav-link">Restaurant</a></li>*@
                <li class="nav-item"><a href="~/Home/About" class="nav-link">About</a></li>            
         @*       <li class="nav-item"><a href="~/Home/ContactUS" class="nav-link">Contact</a></li>*@
                
                @if(User.Identity.IsAuthenticated)
                {
                    <li class="nav-item"><a href="~/Account/SignOut" class="nav-link">SignOut</a></li>
                }
                else
                {
                    <li class="nav-item"><a href="~/Account/Login" class="nav-link">Login</a></li>
                }

            </ul>
        </div>
    </div>
</nav>
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(/images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-12 ftco-animate text-center">
                    <div class="text mb-5 pb-3">
                        <h1 class="mb-3">Welcome To Relaxing Website</h1>
                        <h2>Booking Hotels &amp; Resorts</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image:url(/images/bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-12 ftco-animate text-center">
                    <div class="text mb-5 pb-3">
                        <h1 class="mb-3">Book To Enjoy A Luxury Experience</h1>
                        <h2> Join With Us  </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-booking">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form asp-controller="Hotel" asp-action="search" class="booking-form">
                    <div class="row">
                        <div class="col-md d-flex">
                            <div class="form-group  align-self-stretch d-flex align-items-end">
                                <div class="wrap">
                                    <label for="City">City</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="City" id="City" class="form-control">
                                                <option value="hurgada">hurgada</option>
                                                @*<option value="">Room</option>

                                                <option value="">Both</option>*@
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex">
                            <div class="form-group  align-self-stretch d-flex align-items-end" style=" width: 164px;">
                                <div class="wrap">
                                    <label for="CheckinDate">Check-in Date</label>
                                    <input type="text" name="CheckinDate" id="CheckinDate" class="form-control checkin_date" placeholder="Check-in date">
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex">
                            <div class="form-group  align-self-stretch d-flex align-items-end" style=" width: 164px;">
                                <div class="wrap">
                                    <label for="CheckoutDate">Check-out Date</label>
                                    <input type="text" name="CheckoutDate" id="CheckoutDate" class="form-control checkout_date" placeholder="Check-out date">
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex">
                            <div class="form-group  align-self-stretch d-flex align-items-end">
                                <div class="wrap">
                                    <label for="Room">Room</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="Room" id="Room" class="form-control">
                                                <option value="Suite">Suite</option>
                                                <option value="Room">Room</option>

                                                <option value="Both">Both</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex w-100">
                            <div class="form-group  align-self-stretch d-flex align-items-end">
                                <div class="wrap">
                                    <label for="Customer">Customer</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="Customer" id="Customer" class="form-control">
                                                <option value="1">1 Adult</option>
                                                <option value="2">2 Adult</option>
                                                <option value="3">3 Adult</option>
                                                <option value="4">4 Adult</option>
                                                <option value="5">5 Adult</option>
                                                <option value="6">6 Adult</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex">
                            <div class="form-group d-flex align-self-stretch">
                                <input type="submit" value="Check Availability" class="btn btn-primary py-3 px-4 align-self-stretch">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>