@model List<Hotel>

@foreach(Hotel hotel in Model){
	<div class="col-sm col-md-6 col-lg-4 ">
		<div class="room">
			<a asp-action="Details" asp-controller="Room" class="img d-flex justify-content-center align-items-center" style="background-image: url(/images/room-1.jpg);">
				<div class="icon d-flex justify-content-center align-items-center">
					<span class="icon-search2"></span>
				</div>
			</a>
			<div class="text p-3 text-center">
				<h3 class="mb-3"><a asp-action="getPhotos" asp-controller="HotelDetails">@hotel.Name</a></h3>
				<p><span class="price mr-2">$120.00</span> <span class="per">per night</span></p>
				<ul class="list">
					<li><span>Max:</span> 3 Persons</li>
					<li><span>Size:</span> 45 m2</li>
					<li><span>View:</span> Sea View</li>
					<li><span>Bed:</span> 1</li>
				</ul>
				<hr>
				<p class="pt-1"><a asp-action="Details" asp-controller="Room" class="btn-custom">Book Now <span class="icon-long-arrow-right"></span></a></p>
			</div>
		</div>
	</div>
}