@model List<Hotel>
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_BookingLayout.cshtml";
}
@foreach (var hotel in Model)
{

    if ((int)hotel.Rate >= 5)
    {
        <div class="col-sm col-md-6 col-lg-4 ftco-animate">
            <div class="room">
                <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="background-image: url(/images/hot2.jpg);">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="icon-search2"></span>
                    </div>
                </a>
                <div class="text p-3 text-center">
                    <h3 class="mb-3"><a href="rooms.html">@hotel.Name</a></h3>
                    <p><span class="per">@hotel.Country,@hotel.City</span></p>
                    <hr>
                    <p class="pt-1"><a href="room-single.html" class="btn-custom">View Hotel Details <span class="icon-long-arrow-right"></span></a></p>
                </div>
            </div>
        </div>
    }
}

